<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
    .area {
        fill: steelblue;
        clip-path: url(#clip);
    }
    .zoom {
        cursor: move;
        fill: none;
        pointer-events: all;
    }
    </style>
</head>
<body>
<svg width="960" height="500"></svg>
</body>
</html>
