<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style type="text/css">
    canvas, svg {
      position: absolute;
    }
    .grid .tick line {
      stroke: #fff;
    }

    .grid--x .domain {
      fill: #e7e7e7;
      stroke: none;
    }
    .grid--y .domain,
    .axis .domain {
      display: none;
    }
  </style>
</head>
<body>
  <svg width="960" height="960"></svg>
  <canvas width="960" height="960"></canvas>
</body>
</html>
